<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body style="background: seagreen">
<h1>Customer</h1>

<form th:action="@{/customer/list}" method="get">
    <input  th:type="text" name="name" placeholder="searchName">
    <input  th:type="text" name="email" placeholder="searchEmail">
<!--    <input class="form-control me-2 fst-italic" type="search" name="name" placeholder="Search"-->
<!--           aria-label="Search">-->
<!--    <input class="form-control me-2 fst-italic" type="search" name="email" placeholder="Search"-->
<!--           aria-label="Search">-->
    <select th:name="customerType">
        <option value="" selected>
            Choose something
        </option>
        <option
                th:each="item : ${customerTypesList}"
                th:value="${item.name}" th:text="${item.name}">
        </option>
    </select>
    <input  th:type="submit" name="action" value="findByName">
</form>
<a href="/customer/create" class="btn btn-primary">Create new user</a>

<table border="1" class="table table-dark">
    <tr>
        <th>Name</th>
        <th>DateOfBirth</th>
        <th>PhoneNumber</th>
        <th>Gender</th>
        <th>IdCard</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Address</th>
        <th>Status</th>
        <th>CustomerType</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.dateOfBirth}"></td>
            <td th:text="${customer.phoneNumber}"></td>

            <td th:if="${customer.gender==1}">Nam</td>
            <td th:if="${customer.gender==0}">Nữ</td>
            <td th:if="${customer.gender==2}">LGBT</td>

            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.status}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td><a th:href="@{/customer/{id}/edit(id=${customer.id})}">Edit</a></td>


<!--            <td><a th:href="@{/edit/__${customer.id}__ }">Edit</a></td>-->
            <td><a th:href="@{/customer/delete/__${customer.id}__}">Delete</a></td>
<!--            <td><a th:href="@{/delete-user/__${customer.id}__ }">Delete</a></td>-->
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customer/list'(page=${customers.number - 1},name=${name}, email=${email},customerType=${customerType})}"
       th:if="${customers.hasPrevious()}">Previous</a>

    <span th:text="${customers.number + 1}"></span>
    <span th:text="${customers.totalPages }"></span>

    <a th:href="@{'/customer/list'(page = ${customers.number + 1},name=${name}, email=${email},customerType=${customerType})}"
       th:if="${customers.hasNext()}">Next</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>