<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body style="background: seagreen">
<h1>Facility</h1>

<form th:action="@{/facility/search}" method="get">
    <input th:type="text" name="name">
    <input th:type="submit" name="action" value="FindByName">
</form>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
       Add Facility
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/facility/createVilla">Villa</a></li>
        <li><a class="dropdown-item" href="/facility/createHouse">House</a></li>
        <li><a class="dropdown-item" href="/facility/createRoom">Room</a></li>
    </ul>
</div>
<!--<a href="/customer/create" class="btn btn-primary">Create new user</a>-->

<table border="1" class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Area</th>
        <th>Cost</th>
        <th>MaxPeople</th>
<!--        <th>StandardRoom</th>-->
<!--        <th>DescriptionConvenience</th>-->
<!--        <th>PoolArea</th>-->
<!--        <th>Floors</th>-->
<!--        <th>FacilityFree</th>-->
<!--        <th>FacilityType</th>-->
        <th>RentType</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="facility : ${facility}">
        <tr>
            <td th:text="${facility.name}"></td>
            <td th:text="${facility.area}"></td>
            <td th:text="${facility.cost}"></td>
            <td th:text="${facility.maxPeople}"></td>
<!--            <td th:text="${facility.standardRoom}"></td>-->
<!--            <td th:text="${facility.descriptionConvenience}"></td>-->
<!--            <td th:text="${facility.poolArea}"></td>-->
<!--            <td th:text="${facility.floors}"></td>-->
<!--            <td th:text="${facility.facilityFree}"></td>-->
<!--            <td th:text="${facility.facilityType.name}"></td>-->
            <td th:text="${facility.rentType.name}"></td>
            <td><a class="btn btn-primary" th:href="@{/facility/{id}/edit(id=${facility.id})}">Edit</a></td>
<!--            <td><a class="btn btn-danger" th:href="@{/facility/{id}/delete(id=${facility.id})}">Delete</a></td>-->
            <td>
                <button th:attr="onclick=|deleteFacility('${facility.name}' ,'${facility.id}')|"
                        class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalDelete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </td>

        </tr>
    </th:block>
</table>
<!-- Modal delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/facility/delete" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" hidden id="deleteId" name="deleteId">
                    Are you sure delete facility: <span id="nameFacility" class="fw-bold"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a th:href="@{'/facility/list'(page=${facility.number - 1},name=${name})}"
       th:if="${facility.hasPrevious()}">Previous</a>

    <span th:text="${facility.number + 1}"></span>
    <span th:text="${facility.totalPages }"></span>

    <a th:href="@{'/facility/list'(page = ${facility.number + 1},name=${name})}"
       th:if="${facility.hasNext()}">Next</a>
</div>
<script>
    function deleteFacility(name ,facilityId){
        document.getElementById("deleteId").value = facilityId;
        document.getElementById("nameFacility").innerText = name;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>